.pagination {
  display: flex;
  justify-content: space-around;
}

.subbtn {
  margin-top: 5rem;
}

.startbtn {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 40%;
  gap: 5rem;
  margin-top: 25vh;
}
.qustion {
  text-align: center;
}
